page-home {
    .logo_img {
        width: 50%;
    }
    .logo_row {
        text-align: center;
    }
    .main_div {
        margin-top: 50px;
    }
    .transparent-header {
        background-color: #2d3238;
    }
    .inputform {
        background-color: #3c4147;
    }
    .inputbutton {
        width: 100%;
        background: #ea4c89;
    }
    .toolbar-background-md {
        background: #3c4147 !important;
    }
}